* {
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
    box-sizing: border-box;
}
body {
    padding: 10px 0;
}
/* body, html {
    height: 100%;
} */

.selectionContest {
    /* border-bottom: 1px solid black; */
    margin: 10px;
}


table,
td {
    border: 2px solid black;
    border-collapse: collapse;
    margin-bottom: 40px;
    font-size: 20px;
    padding: 5px;
    width: 100%;
    margin-left: auto;
    margin-right: auto;
}

.header-row {
    /* background-color: #adb5bd; */
    background-color: whitesmoke;
    text-align: center;

}

/* .candidate-name {
    text-align: left;
}

.writein-name {
    text-align: left;
    padding: 5px;
    margin: 0px;
    border: none;
    display: flex;
} */

section {
    text-align: center;
}
hr {
    margin: 20px 0 0;
}

h1, h2, h3, h4 {
    text-align: center;
}
table, .regCandidates {
    margin-top: 10px;
}
.regCandidates, .questionDiv, table {
    width: 800px;
    margin: 0 auto;
    margin-bottom: 40px;
}

.regCandidates {
    border-radius: 16px;
}


/* CUSTOM CHECKBOX */
/* The container */
.container {
    /*display: block;*/
    position: relative;
    /* padding-left: 50px;
    margin-bottom: 12px; */
    /*cursor: pointer;*/
    /*font-size: 22px;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;*/
}

/* Hide the browser's default checkbox */
.container input {
    position: absolute;
    opacity: 0;
    cursor: pointer;
    height: 0px;
    width: 0px;
}

/* Create a custom checkbox */
.checkmark {
    display: inline-block;
    height: 18px;
    width: 28px;
    border: 2px solid black;
    border-radius: 50%;
    background-color: white;
}

/* On mouse-over, add a light grey background color */
.container:hover input~.checkmark {
    background-color: #ddd;
}

/* When the checkbox is checked, add a black background */
.container input:checked~.checkmark {
    background-color: black;
}


.container input:focus~.checkmark {
    box-shadow: 0 0 2px 1px dodgerblue;
}

/* styling for text-area housing the question to be voted on*/
.question {
    border: 2px solid black;
    background-color: whitesmoke;
    padding: 10px;
    font-size: 18px;
    margin-top: 10px;
    width: 100%;
    line-height: 1cm;
    border-bottom: none;
}

/* wrapper styling for yes-no in question-type poll*/
#yesNoWrap {
    display: flex;
    justify-content: space-between;
    width: 50%;
    margin: 0 auto;
    margin-bottom: 40px;
}

/* modifies checkmark-wrapper for regular and question polls
.container.checkboxLabel {
    margin: 11px auto;
    padding: 1% 1%;
    width: 21%;
    border: groove;
} */

/* modifies checkmark for regular and question polls*/
.checkmark.ballotCheckbox {
    margin-right: 10px;
    display: inline-block;
    border: 2px solid black;
    border-radius: 50%;
    background-color: white;
}

.indivCandidate {
    display: flex;
    flex-direction: row;
}
.indivCandidate .checkmark, .questionOption .checkmark {
    position: absolute;
    right: 0;
    top: 50%;
    transform: translateY(-50%);
}
.candidateLabel {
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
}
/* .indivCandidate:not(:last-child) {
    border-bottom: 2px solid black;
    margin-bottom: 5px;
    padding-bottom: 5px;
} */
.indivCandidate, .questionOption {
    padding: 5px;
    border-left: 2px solid black;
    border-right: 2px solid black;
}
.indivCandidate, .questionOption {
    border-bottom: 2px solid black;
}
.indivCandidate:first-child, .questionOptionsDiv {
    border-top: 2px solid black;
}
/* .indivCandidate:not(:first-child) {
    border-top: 2px solid black;
} */


.candidateName {
    text-align: left;
    font-size: 20px;
    /* display: inline; */
}

.candidateSubtitle {
    margin-left: 12px;
    text-align: left;
    font-weight: 100;
    font-size: 20px;
}

.container .writebox {
    position: relative;
    opacity: 100;
    cursor: pointer;
    height: initial;
    width: initial;
}
.writebox {
    margin-left: 5px;
    border: none;
    border-bottom: 1px solid gray;
    font-size: 20px;
    color: blue;
}
p {
    font-size: 20px;
}

.contestName {
    font-size: 26px;
}

.contestSubtitle {
    font-size: 24px;
}

.votingInstructions {
    text-align: center;
    font-size: 22px;
    font-weight: normal;
}


ol {
    padding-left: 40px;
}
.reviewPage div {
    border: 3px solid black;
}

/* Tooltip container */
.tooltip {
    position: relative;
    display: inline-block;
    /* border-bottom: 1px dotted black; If you want dots under the hoverable text */
  }
  .reviewPage .tooltip {
    border: none;
  }
  
  /* Tooltip text */
  .tooltip .tooltiptext {
    visibility: hidden;
    width: 180px;
    background-color: #f44336;
    color: #fff;
    text-align: center;
    padding: 7px 2px;
    border-radius: 6px;
  
    /* Position the tooltip text */
    position: absolute;
    z-index: 1;
    bottom: 125%;
    left: 50%;
    margin-left: -90px;
  
    /* Fade in tooltip */
    opacity: 0;
    transition: opacity 0.3s;
  }
  
  /* Tooltip arrow */
  .tooltip .tooltiptext::after {
    content: "";
    position: absolute;
    top: 100%;
    left: 50%;
    margin-left: -5px;
    border-width: 5px;
    border-style: solid;
    border-color: #f44336 transparent transparent transparent;
  }
  
  /* Show the tooltip text when you mouse over the tooltip container
  .tooltip:hover .tooltiptext {
    visibility: visible;
    opacity: 1;
  } */

  @keyframes fade {
      0% {
          opacity: 1;
      }
      100% {
        opacity: 0;
      }
  }

#affidavitPage {
    margin: 0 auto;
    width: 800px;
}

#title_AffidavitPAge {
    margin: 10px 0px;
}

#affidavitPage li {
    padding: 10px;
}

.affidavitTopBox {
    border: 3px solid black;   
    padding: 20px 30px;
    margin: 25px 0px;
}

.affidavitBottomBox {
    border: 3px solid black;   
    padding: 10px 5px;
}

td > .container {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

/* start styles for ReviewPage */

/* #reviewPage {
    display: none;
} */

.reviewContest {
    width: 800px;
    text-align: center;
    background-color:whitesmoke;
    padding: 12px;
    margin-bottom: 15px;
    border: 1px solid black;
    border-radius: 16px;
}

.reviewContest:hover {
    cursor: pointer;
    background-color: #CCC;
}

.reviewContest:focus {
    background-color: #CCC;
}


.reviewContestButton {
    width: 800px;
    margin: 3px 0;
}
#reviewPageInstructions {
    width: 800px;
    margin: 0 auto;
    /* border: 2px solid darkgray; */
    padding: 10px;
}

#reviewBody {
    margin-top: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.reviewContestHeader {
    margin: 5px;
    padding-bottom: 5px;
    border-bottom: 1px solid black;
    color: rgb(43, 43, 192);
    font-weight: bold;
}

.reviewCandidates {
    font-size: 20px;
    padding-top: 12px;
}

.reviewPageNoSelection {
    /* font-style: italic; */
    color: red;
    font-size: 20px;
    font-weight: bold;
}

#reviewFooter {
    margin-top: 5px;
}

/* End styles for ReviewPage */

#selection {
    display: block;
}

#ballotTitle {
    margin: 30px;
    font-size: larger;   
}

a {
    text-decoration: none;
}


a {
    color: black;
}

/* Unvisited link  */
a:visited {
    color: black;
}

/* Visited link    */
a:focus {
    color: blue;
}

a:active {
    color: black;
}

/* Selected link   */

button:focus {
    color: blue;
    border: solid 3px blue;
}

button:focus {
    color:blue;
    border: solid 3px blue;
}


.reviewCandidateName {
    margin-left: 43%;
}
/* end styles for ReviewPage */

.modal {
    background-color: white;
    border-radius: 10px;
    position: fixed;
    left: 50%;
    top: 50%;
    transform: translate(-50%,-50%);
    padding: 20px 20px 10px;
    display: none;
    box-shadow: 0px 0px 8px rgb(1,1,1,.4);
    z-index:1002;
    color: #222;
}
.modal button {
    text-decoration: none;
    background-color: initial;
    border: none;
    cursor: pointer;
    font-size: 18px;
    padding: 5px 12px;
    border-radius: 5px;
}
.modal #noButton, .modal #yesButton, #pwOkButton  {
    color: rgba(1,1,1, .8);
    background-color: rgba(189,195,199 ,1);
}
#noButton:hover, #yesButton:hover, #pwOkButton:hover {
    background-color: rgba(189,195,199 ,.4);
}
.modalButtonDiv {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    bottom: 10px;
    width: 50%;
    margin: 30px auto 5px;
    margin-top: 20px;
}
#overlay {
    display: none;
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: darkgray;
    opacity: 0.9;
    z-index: 1001;
}
/* #affidavitPage {
    display: none;
} */
button {
    background-color:initial;
    border: none;
    font-size: 22px;
    border: 2px solid gray;
    border-radius: 13px;
    padding: 5px 10px;
    background-color: lightgray;
    margin: 0 auto;
    display: block;
}
button:hover {
    background-color: darkgray;
}
.buttonDiv * {
    display: inline;
    margin: 0;
}
.buttonDiv {
    margin: 0 auto;
    display: flex;
    flex-direction: row;
    /* justify-content: space-between; */
    justify-content: center;
    width:800px;
}


.writeinName {
    border-bottom: 1px solid gray;
    margin-left: 10px;
    display: inline-block;
    text-align: left;
    color: blue;
    font-size: initial;
}

/* .btn {
    font-size: 20px;
    padding: 5px 10px;
    background-color:#e6e9ed;
    border: 2px solid #999;
    border-radius: 13px;
    text-decoration: none;
} */

#buttonWrap_ReviewPage, #buttonWrap_AffidavitPage {
    display: flex;
    justify-content: center;
}

#inputsWrap_AffidavitPage {
    display: flex;
    justify-content: space-between;
    margin-top: 20px;   
}

#inputsWrap_AffidavitPage {
    font-size: 20px;
}

#thankyouForVoting { 
    padding-top: 20%;
    font-size: 3em;
}

.stepBanner {
    width: auto;
    /* border-top: 1px solid black; */
    border-bottom: 2px solid black;
    padding: 10px;
    margin-bottom: 15px;
    background-color: #e6e9ed;
}

#ballotEnd, #reviewEnd {
    margin: 20px;
}



/* start media queries */
@media (max-width: 1024px) {
    .candidateSubtitle {
        font-weight: 400;
    }
}
@media (max-width: 830px) {
    .regCandidates, .questionDiv, table, #reviewPageInstructions, .reviewContest, #affidavitPage {
        width: 100%;
    }
    body {
        margin: 0;
    }
    html {
        zoom: 56%;
    }
    #reviewPage {
        padding: 0 3px;
    }
    .selectionContest {
        margin: 0;
    }
}
/* end media queries */

body {
    background-color: #888;
}
.step {
    width: 1200px;
    border: 2px solid black;
    margin: 20px auto;
    background-color: white;
}
#buttonWrap_AffidavitPage {
    margin-bottom: 10px;
}

/* Styles for display tables */

/* body {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 14px;
    line-height: 20px;
    font-weight: 400;
    color: #3b3b3b;
    background-color: #2b2b2b;
    box-sizing: border-box;
} */

/* @media screen and (max-width: 580px) {
    body {
        font-size: 16px;
        line-height: 22px;
    }
} */

.wrapper {
    margin: 0 auto;
    padding: 40px;
    max-width: 800px;
}


/* @media screen and (max-width: 580px) {
    .table {
        display: block;
    }
} */

.row {
    display: table-row;
    /* background: #f6f6f6; */
}

/* .row:nth-of-type(odd) {
    background: #e9e9e9;
} */

.table {
    /* margin: 0 0 40px 0;
    width: 100%; */
    margin: 0 auto 30px;
    width: 800px;
    /* box-shadow: 0 1px 3px rgb(0, 0, 0, 0.2); */
    display: table;
    border: 1px solid black;
}

.row.header { 
    /* font-weight: bold; */
    /* color: white; */
    background-color: whitesmoke;
}

/* .row.green {
    background: #27ae60;
}

.row.blue {
    background: #2980b9;
} */


/* @media screen and (max-width: 580px) {
    .row {
        padding: 14px 0 7px;
    }

    .row.header {
        padding: 0;
        height: 6px; 
    }

    .row .cell {
        margin-bottom: 10px;
    }

    .row .cell::before {
        margin-bottom: 3px;
        content: attr(data-title);
        min-width: 98px;
        line-height: 10px;
        font-weight: bold;
        text-transform: uppercase;
        color: #969696;
        display: block;
    }
} */

.cell {
    /* padding: 6px; */
    display: table-cell;
    border: 1px solid black;
    vertical-align: middle;
    text-align: center;
}

/* @media screen and (max-width: 500px) {
    .cell {
        padding: 2px 16px;
        display: block;
        
    }
} */

/* Start my custom ballot styles */

.rcOval {
    position: absolute;
    opacity: 0;
    cursor: pointer;
    height: 0px;
    width: 0px;
}

/* Create a custom checkbox */
.rcCheckmark {
    display: inline-block;
    height: 18px;
    width: 28px;
    border: 2px solid black;
    border-radius: 50%;
    background-color: white;
    margin-top: 6px;
}


/* On mouse-over, add a light grey background color */
.rcCheckmark:hover {
    background-color: #ddd;
}

/* When the checkbox is checked, add a black background */
.rcOval:checked~.rcCheckmark {
    background-color: black;
}

.rcOval:focus~.rcCheckmark {
    box-shadow: 0 0 2px 1px dodgerblue;
}

.candidateName {
    text-align: left;
    padding-left: 10px;
    font-weight: bold;
}

.candidateSubtitle {
    display: block;
    padding-left: 10px;
    font-weight: normal;
}

.rcCandidateName {
    text-align: left;
    padding-left: 2%;
    margin: 1% 0 1% 0;
}

/* screen reader only aria alert div */
.sr-only {
    position: absolute;
    left: -10000px;
    width: 1px;
    height: 1px;
    overflow: hidden;
  }